<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Random Word</title>
    <link rel="icon"  type="image/x-icon" href="./images/favicon.ico">
    <link rel="stylesheet" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
</head>
<body class="container" style="background-color: #fff;">
    
    <div class="title">

        <img src="./images/sand-clock.png" alt="Icon" width="64px">
        <h1>RandWord</h1>
        
</div>
        <div class="images">
            <span class="icon1">
                <a href="/index"><img src="./images/home.png" alt=""></a>
            </span>

            <span class="icon2">
                <a href="/start"><img src="./images/sand-clock(2).png" alt="" ></a>
            </span>

            <span class="icon3">
                <a href="https://github.com/theCephas/RandWord" target="_blank"><img src="./images/github.png" alt=""></a>
            </span>
        </div>

        <div class="errorEffect">
            <!-- <img src="./images/error.avif" class="img-responsive" alt=""> -->
            <img src="./images/question.jpg" class="img-responsive" alt="Confused lady" width="300px">

            <p>Sorry! Word not found. Please, go back and input a new correct word.</p>
        </div>

        <footer>
        
            <p>Made with ❤️ by <a href="https://github.com/theCephas">Iseoluwa</a> & <a href="https://github.com/Greatseun02">Seun</a>.</p> 
        </footer>
    
        <script src="/index.js"></script>
    </body>
</html>